  
* {
    box-sizing: border-box; /*將寬高設定作用在邊框外緣的範圍內*/
}
body {
  font-family:"Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
  margin: 0;
}

/*頁首LOGO設定*/
.logo {
  margin-left: 100px; /*LOGO圖距離頁面左邊框的距離,越大離越遠*/
  margin-right: 750px;  
}
nav {
      display: flex;
      font-size: 20px; /*導覽列字體大小*/
      background-color: white;
      text-decoration: none; /*移除超連結底線*/
}
nav a {  /*導覽列超連結設定*/
  color: 		#F75000;
  background-color: #ADFEDC;
  padding: 10px;
  text-align: right;
  text-decoration: none;
}  
nav a:hover { /*導覽列滑鼠移過超連結設定*/
  color: #004B97;
  background-color: #CECEFF;
  text-decoration: none;
}
.navbar {   /*頁首及導覽列區塊設定*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;/*最上方頁首位置完全置頂遮蓋，避免產生一條透明的區域，會看到下方頁面捲上去後的內容，以下左右也做遮蓋*/
  right: 0px;
  left: 0px;
  z-index: 9999; /*最上方頁首圖層置頂，避免網頁往下滑時被其他圖片遮蓋*/
  padding: 10px;
}


/*輪播圖設定*/
.slidershow {
  display: flex;
  width: 100px;
  height: 200px;
}

/*flexbox設定*/
.row {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: stretch;
}

/*ABOUT US區塊左*/
.about {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  margin-left: 200px;
  margin-bottom: 10px;
  overflow:hidden;
}
.aboutline {
  color: 	#000079;
  position:relative ;
  border-style: solid;
  border-width: 2px;
  left: -200px;;
  bottom:70px;
}
/*ABOUT US區塊右*/
.column.text {
  flex: 2;
  background-color: #fff;
  padding: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow:hidden;
}
/*最新消息區塊(底圖)*/
.column.news {
  display: flex;
  width: 1900px;
  height: 620px;
  padding: 10px;
  background-image: url("../img/cooperate.jpg");
  background-size: cover;
  margin-bottom: 5px;
  overflow:hidden;
}
/*最新消息區塊(白色半透明的混色區塊)*/
.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  left: 220px;
  right:250px;
  top: 35px;
  width:1450px;
  height:530px;
}

h1 {
  position: relative;
  padding: 0.35em 3em;
  border: solid 2px 	#000093;
  background: 	#000093;
  border-radius: 3px 0 3px 0;
  color: #fff;
  text-align: center;
}

h2{
  color:#000093;
}


h3 {
  padding: 0.25em 1em;
  text-align: center;
  color: #fff;
  border: solid 1.5px #F75000;
  background: 	#F75000;
}
h4 {
  padding: 0.25em 1em;
  text-align: center;
  color: #fff;
  border: solid 1.5px #F75000;
  background: 	#F75000;
}
/*連絡資訊左欄*/
#sidebar_left{
  width:600px;
  height:300px;
  text-align:center;
  line-height:400px;
  float:left;
}
.logo2 {
  position: relative;
  left: 160px;
  width:180px;
  height:100px;
  top: -120px;
}
/*連絡資訊中欄*/
#content{
  margin-left:710px;
  margin-right:700px;
  height:300px;
  text-align:center;
  line-height:400px;
}
/*連絡資訊右欄*/
#sidebar_right{
  width:600px;
  height:300px;
  margin-right:200px;
  margin-left:500px;
  text-align:center;
  line-height:400px;
  
}

.locate {
  position: relative;
  left: -110px;
  width:400px;
  height:300px;
  bottom: 200px;
}


P {
  font-size: 1rem;
  text-align: justify;
  line-height:24px;
}


/*頁尾*/
footer {
  padding: 50px;
  text-align: center;
  background-color:gainsboro;
}
footer a {  
  color: #050505;
  padding: 10px;
  text-align: center;
}  
footer a:hover { 
  color: #858685;
}